
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.indexLink{
  color: #fff;
  text-decoration: none;

}
/*Post Wrapper Styles */

/* Filter Row Styles */
.filter__header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.sort__row {
  margin-right: 1.3rem;
  align-items: baseline;
  display: flex;

}

.sort__arrow__wrapper {
  align-self:  center;

  padding: 1.3rem;
}

.sort__arrow__left,
.sort__arrow__right
{
  cursor: pointer;
  transform-origin: center center;
  transition: transform .8s cubic-bezier(.41,.01,.31,.91) 0.15s
}

.sort__arrow__left {
  transform: rotate(180deg);
}

.sort__arrow__left:hover,
.sort__arrow__left:active
{
  transform: rotate(0deg);
}

.sort__arrow__right {
  transform: rotate(0deg);
}

.sort__arrow__right:hover,
.sort__arrow__right:active
 {
  transform: rotate(180deg);
}

.sort__ui {
  font-weight: 900;
  min-width: 6vw;
}

.filter__row {
  display: flex;
  justify-content: center;
  list-style: none;
}

.filter__link {
  color: #fff;
  padding: 0.325rem 1.3rem;
  text-decoration: none;
}

.filter__link:hover {
  background-color: #7dd488;
  border-radius: 1.3rem;
}

/* Post Styles*/
.post__container {
  background-color: #fff;
  border-radius: 0.65rem;
  color: #000;
  display: flex;
  margin: 1.95rem auto;
  padding: 0.65rem 0.65rem 0.325rem;
  width: 66%;
}

.post__title {
  color: #000;
  text-decoration: none;
}

.post__title:hover {
  color: #fc6072;
}

.post__controls {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.post__main {
  flex-grow: 1;
  padding-left: 2rem;
}

/* Vote Styles */
.vote__wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vote__arrow {
  font-size: 2rem;
  cursor: pointer;
}

.vote__score {
  user-select: none;
}

.vote__upArrow:hover {
  color: #7dd488;
}
.vote__downArrow:hover {
  color: #fc6072;
}

/* Post Wrapper Ends*/

/* Create Post Form Styles */

.post__form {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  justify-content: space-between;
  margin: auto;
  width: 40vw;
}

.post__form input[type='text'],
.post__form select,
.post__form textarea
{
  background-color: #fff;
  border: none;
}
.post__form__row {
  padding-top: 1.3rem;
}
.post__form__row label {
  display: block;
}

label + #postBody {
  vertical-align: top;
}

#postBody,
#commentBody {
  min-height: 5rem;
  min-width: 50vw;
  max-width: 500px;
}

.button__submit {
  background-color: #7dd488;
  border: none;
  color:#fff;
  cursor: pointer;
  display: block;
  font-weight: 900;
  margin-bottom: 0.65rem;
  min-width: 50vw;
  outline: 0;
  padding: 0.65rem 0;
}

.btn {
  color:#fff;
  cursor: pointer;
  display: block;
  margin: 3rem auto 1.3rem;
  max-width: 25vw;
  text-align: center;
  text-decoration: none;
}

.post__controls li,
.post__controls a
{
  color: #000;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
}

.post__controls li:hover,
.post__controls a:hover
{
  color: #7dd488;
}

